@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
$grey: #787878;

* {
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: $grey;
  transition: all .2s ease-in-out;
}


header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 60px;
    .user-img {
      display: inline-block;
      margin: 0 10px 0 0;
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
    }
    .user-name {
      font-size: 10px;
      display: inline-block;
      margin: 0 0 0 10px;
      text-transform: uppercase;
      color: $grey;
    }
  }
  .menu {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin: auto 50px;
        text-transform: uppercase;
        font-size: 10px;
        border-bottom: 3px solid #fff;
        transition: all .6s ease-in-out;
        cursor: pointer;
        &:hover {
          border-bottom: 3px solid red;
        }
      }
      span {
        font-size: 36px;
      }
    }
  }
  .search-bag-box {
    margin: 0 60px 0 0;
    .input {
      display: inline-block;
      input {
        text-transform: uppercase;
        border: 0 solid #fff;
        outline: none;
        font-size: 10px;
      }
    }
    .bag {
      display: inline-block;
      text-transform: uppercase;
      color: $grey;
      font-size: 10px;
    }
  }
}
////////////////////top area/////////////////////
    .top-area {
      // overflow: auto;
      position: relative;
      width: 100%;
      height: 884px;
      background: #ededed;
      border-top: 2px solid #d1d1d1;
      border-bottom: 2px solid #d1d1d1;
      .background-text {
        position: absolute;
        left: 0;
        top: 33%;
        width: 100%;
        text-align: center;
        font-size: 315px;
        text-transform: uppercase;
        color: #e7e7e7;
      }
      .red-square {
        width: 303px;
        height: 574px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border: 6px solid #FE0000;
        // z-index: 2;
        .red-plus {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #FE0000;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          margin-bottom: 35px;
          .fa {
            color: white;
          }
        }
      }
      .all-boots{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        .left-arrow{
          display: flex;
          justify-content: center;
          align-items: center;
          background: #333;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          .fa {
            color: white;
          }
        }
        .left-boot {
          img {
            width: 250px;
            height: 250px;
            -webkit-filter: grayscale(80%);
            filter: grayscale(80%);
            -webkit-filter: opacity(30%);
            filter: opacity(30%);
          }
        }
        .central-boot {
          img {
            width: 400px;
            height: 400px;
          }
        }
        .right-boot {
          img {
            width: 250px;
            height: 250px;
            -webkit-filter: grayscale(80%);
            filter: grayscale(80%);
            -webkit-filter: opacity(30%);
            filter: opacity(30%);
          }
        }
        .right-arrow {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #333;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          .fa {
            color: white;
        }
      }
    }
}
////////////////////companies area/////////////////////
.companies {
  height: 141px;
  width: 100%;
  border-bottom: 2px solid #d1d1d1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .co-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -160px 0 -160px;
    img {
      width: 40%;
      // height: auto;
    }
  }
  .co-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 70%;
      height: auto;
    }
  }
  .co-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px;
    img {
      width: 75%;
      height: auto;
    }
  }
  .co-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 83%;
      height: auto;
    }
  }
  .co-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -90px 0 -90px;
    img {
      width: 23%;
      height: auto;
    }
  }
  .co-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px 0 25px;
    img {
      width: 132%;
      height: auto;
    }
  }
  .co-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px 0 25px;
    img {
      width: 102%;
      height: auto;
    }
  }
  .co-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 80%;
      height: auto;
    }
  }
//   .co-9 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 0 -60px 0 -60px;
//     img {
//       width: 126%;
//       height: auto;
//     }
//   }
}
////////////////////////limited edition/////////////////

.limited-edition {
  position: relative;
  height: 930px;
  .triangle {
     width: 0;
	   height: 0;
	   border-bottom: 930px solid #EFEFEF;
	   border-left: 930px solid transparent;
     position: absolute;
     bottom: 0;
     right: 0;
  }
  .central-article-img {
    // background: green; to be removed
    width: 100%;
    height: 800px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    .article {
      // background: red; to be removed
      width: 1220px;
      height: 100%;
      margin: 0 0px 0 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h4 {
        font-size: 12px;
        text-transform: uppercase;
        margin: 5px;
        color: #FE0000;
        letter-spacing: 2px;
      }
      h1 {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 2px;

        margin: 10px 10px 10px 5px;
      }
      .price {
        font-size: 16px;
        margin: 5px;
        color: #9F9861;
      }
      .description {
        margin: 10px 5px 5px 5px;
        font-size: 12px;
        line-height: 1.5;
      }
      button {
        margin: 25px 0 0 5px;
        width: 150px;
        height: 40px;
        background: red;
        color: white;
        font-weight: 800;
        text-transform: uppercase;
        border-style: none;
      }
    }
    .jordan-boots {
      // background: yellow; to be removed
      width: 100%;
      // height: 100%;
      margin: 0 200px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-top: 150px;
        margin-left: -125px;
      }
    }
  }
}
////////////////////top buys///////////////////
.top-buys{
  // background: grey; to be removed
  height: 1235px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .items{
    // background: white; to be removed
    width: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .item{
      // background: yellow;
      width: 280px;
      height: 280px;
      margin: 2px;
      &.item-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
          width: 230px;
          height: 150px;
        }
        h3{
          text-transform: uppercase;
          letter-spacing: 2px;
          text-align: center;
          margin-top: 35px;
          line-height: 1.5;
        }
      }
      &.item-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
          width: 250px;
          height: 150px;
        }
        h3{
          text-transform: uppercase;
          letter-spacing: 2px;
          text-align: center;
          margin-top: 35px;
          line-height: 1.5;
        }
      }
      &.item-3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
          width: 250px;
          height: 170px;
        }
        h3{
          text-transform: uppercase;
          letter-spacing: 2px;
          text-align: center;
          margin-top: 15px;
          line-height: 1.5;
        }
      }
      &.item-4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
          width: 250px;
          height: 150px;
        }
        h3{
          text-transform: uppercase;
          letter-spacing: 2px;
          text-align: center;
          margin-top: 35px;
          line-height: 1.5;
        }
      }
      &.item-5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
          width: 250px;
          height: 170px;
        }
        h3{
          text-transform: uppercase;
          letter-spacing: 2px;
          text-align: center;
          margin-top: 15px;
          line-height: 1.5;
        }
      }
      &.item-6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
          width: 250px;
          height: 170px;
        }
        h3{
          text-transform: uppercase;
          letter-spacing: 2px;
          text-align: center;
          margin-top: 15px;
          line-height: 1.5;
        }
      }
    }
  }
  button{
    margin: 50px 0 0 0;
    width: 200px;
    height: 40px;
    background: red;
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    border-style: none;
  }
}
///////////////////////////store imgs/////////////////
.store-imgs {
  height: 1338px;
  position: relative;
  .img-1 {
    width: 80%;
    height: 700px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .red-square-2 {
      background: rgba(255, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .black-letters {
      font-size: 100px;
      letter-spacing: 15px;
      text-transform: uppercase;
      font-weight: 700;
      position: absolute;
      top: 290px;
      left: 0;
    }
    .reverse {
      color: white;
      font-size: 100px;
      letter-spacing: 18px;
      text-transform: uppercase;
      font-weight: 700;
      margin-left: -20px;
      position: absolute;
      top: 340px;
      left: 0;
      transform: scale(-1, 1);
    }
    .address {
      color: white;
      font-size: 9px;
      text-transform: uppercase;
      line-height: 1.5;
      letter-spacing: 2px;
      position: absolute;
      top: 290px;
      left: 650px;
    }
  }
  .img-2 {
    position: absolute;
    top: 375px;;
    right: 0;
    img {
      height: 513px;
      width: 938px;
    }
    .move-button {
      background: red;
      height: 45px;
      width: 45px;
      border: 1px solid lightgrey;
      border-radius: 50%;
      position: relative;
      top: 200px;
      left: -22.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      .fa {
        color: white;
      }
    }
  }
}
